- serie = Serie.find_by_name @demo[:series].sample
%li.episode
  %h4
    = link_to serie.name, serie
    \- 
    = link_to @demo[:episode_titles].sample
  .row-fluid
    .span8.pull-left
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      - if @logged_in
        .episode-controls.btn-toolbar
          .btn-group
            %a.btn.btn-info Search
            %a.btn.btn-info.dropdown-toggle{data: {toggle: :dropdown}}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Search low res'
              %li= link_to 'Seach HD'
          .btn-group
            %a.btn.btn-success Download
            %a.btn.btn-success.dropdown-toggle{data: {toggle: :dropdown}}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Download low res'
              %li= link_to 'Download HD'
      %span Tagged with: 
      - %w(Snack Download SciFi Action Drama Detective Boring Puzzle ChickFlik Dutch).sample( (1..5).to_a.sample ).each do |tag|
        %span.label= tag
    .span4
      %img.pull-right{src: @demo[:episode_images].sample, width: 260, height: 180}
