.span10
  %header
    %ul.breadcrumb
      %li
        = link_to 'Home', root_path
        %span.divider /
      %li
        - if @logged_in
          = link_to 'My Stations', root_path
        - else
          = link_to 'Stations', root_path
        %span.divider /
      %li= link_to 'All', page_path(:guide)
    %h1== Station - All #{'my' if @logged_in} stations
  .row-fluid
    .span8
      %header
        %h2 Just aired episodes

      - unless @logged_in
        .alert.alert-block.alert-info.fade.in
          %a.close{data: {dismiss: 'alert'}} &times;
          %h4.alert-heading You are not logged in
          %p 
            If you identify yourself we could save your preferences for you. Until then this guide will be shown as the full guide. To register yourself only a name and password are needed.
      %section#past_episodes
        %ul.nav.nav-list
          - 10.times do |i|
            %li.nav-header
              %h4= i.days.ago.to_date.to_s(:long)
            - (1..5).to_a.sample.times do
              = render 'episodes/past_episode'
    .span4
      %header
        %h2 Upcoming episodes
      %section#upcoming-episodes
        .well
          .nav.nav-list
            %dl
              - 10.times do |i|
                %dt.nav-header= i.days.ago.to_date.to_s(:long)
                - (1..5).to_a.sample.times do
                  %dd
                    - serie = Serie.find_by_name @demo[:series].sample
                    = link_to serie.name, serie
                    - case (1..100).to_a.sample
                      - when 1..3
                        %span.info.label.label-success New
                      - when 10..20
                        %span.info.label.label-success New season
