.span10
  %header
    %ul.breadcrumb
      %li
        = link_to 'Home', root_path
        %span.divider /
      %li
        = link_to 'Series', root_path
        %span.divider /
      %li= link_to @serie.name, @serie
      %li.pull-right= link_to 'Next serie', series_path(Serie.pluck(:id).sample)
      %li.pull-right
        = link_to 'Previous serie', series_path(Serie.pluck(:id).sample)
        %span.divider= "|"
  .row-fluid
    .span9
      %header
        %h1 
          = @serie.name
          = link_to '', class: :fav do
            - if [true, false].sample
              ★
            - else
              ☆
      %section#serie-graphics
        .carousel.slide
          .carousel-inner
            - @serie.fanart.each_with_index do |fanart, i|
              .item{style: "background-image: url(#{fanart})", class: ('active' if i.zero?)}
      %section#season-detail
        %h3 Season details
        - nr_of_seasons = (1..10).to_a.sample
        .tabbable.tabs-left
          .row-fluid
            .span2
              %ul.nav.nav-tabs
                - nr_of_seasons.times do |i|
                  - if i.succ == nr_of_seasons #last
                    %li.active= link_to "Season #{i.succ}", "#season-#{i.succ}", data: {toggle: :tab}
                  - else
                    %li= link_to "Season #{i.succ}", "#season-#{i.succ}", data: {toggle: :tab}
            .span10
              .tab-content
                - nr_of_seasons.times do |i|
                  - if i.succ == nr_of_seasons #last
                    .tab-pane.fade.active.in{id: "season-#{i.succ}"}
                      %table.table.table-bordered.table-striped 
                        %thead
                          %tr
                            %th Name
                            %th Airdate
                        %tbody
                          - nr_of_episodes = (6..22).to_a.sample.times do |i|
                            - episode = @demo[:episode_titles].sample
                            %tr
                              %td= link_to episode, series_episode_path(@serie, episode.parameterize)
                              %td= i.weeks.ago.to_date.to_s(:long)
                  - else
                    .tab-pane.fade{id: "season-#{i.succ}"}
                      %table.table.table-bordered.table-striped 
                        %thead
                          %tr
                            %th Name
                            %th Airdate
                        %tbody
                          - nr_of_episodes = (6..22).to_a.sample.times do |i|
                            - episode = @demo[:episode_titles].sample
                            %tr
                              %td= link_to episode, series_episode_path(@serie, episode.parameterize)
                              %td= i.weeks.ago.to_date.to_s(:long)
            
    .span3.pull-right
      %section#recommendations
        .panel
          %h4 You might also like
          %ul.unstyled
            %li= link_to 'Brainiac'
            %li= link_to 'An Idiot Abroad'
            %li= link_to 'Top Gear'
          .alert.alert-notice
            %span.label.label-notice Notice
            Needs pictures instead of text
      %section#user-details
        = render partial: 'series/tags'
      %section#program-details
        .panel
          %h4 Additional information
          %dl
            %dt Genres
            %dd 
              - linked_genres = ['Science', 'Comedy'].map{|genre| link_to genre, '#' }
              = linked_genres.to_sentence.html_safe
            %dt Actors
            %dd 
              - linked_actors = ['James dingus', 'Adam Savage'].map{|actor| link_to actor, '#' }
              = linked_actors.to_sentence.html_safe
            %dt Poularity
            %dd== #{[*1..100].sample}%
            