%nav.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'DTV Client', root_path, class: :brand
      .nav-collapse
        %ul.nav
          %li= link_to 'Guide', page_path(id: :guide)
          %li= link_to 'Episodes', '#'
        = form_for :program, url: search_series_index_url, html: {class: %(navbar-search pull-left), method: :get} do
          %input.search-query{placeholder: 'Search', name: :query, autocomplete: :off}
        %ul.nav.pull-right
          - if @logged_in
            %li= link_to 'Logout', url_for( params.merge(login: false) )
          - else
            %li= link_to 'Login', url_for( params.merge(login: true) )
