!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Dtv client
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}

  %body
    = render 'layouts/navbar'
    .container-fluid
      .row-fluid
        .span2
          #sidebar.well{style: 'padding: 8px 0'}
            %ul.nav.nav-list
              %li.nav-header My stations
              %li{class: (:active if params[:id] == 'guide' && @logged_in)}= link_to 'All episodes', page_path(:guide)
              %li= link_to 'Starred', ''
              - if @logged_in
                %li= link_to 'Snack', ''
                %li= link_to 'To be sorted', ''
                %li= link_to 'Recommended', ''
                %li= link_to 'Little bit to long for this just as a test', ''
              %li.nav-header Other stations
              %li{class: (:active if params[:id] == 'guide' && !@logged_in)}= link_to 'All episodes', page_path(:guide)
              %li= link_to 'Best rated'
              %li= link_to 'SciFi'
              %li.nav-header Other user stations
              %li= link_to 'Steef\'s snack station'
              %li= link_to 'JW\'s Chick station'
        = yield              

